/* #root {
  position: relative;
  width: 2560px;
  height: 1440px;
  touch-action: none;
} */

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    180deg,
    rgba(248, 251, 255, 0.79) -3.85%,
    rgba(239, 204, 242, 0.553) 27.23%,
    rgba(202, 158, 255, 0.79) 62.98%,
    rgba(134, 137, 247, 0.79) 107.53%
  );
  backdrop-filter: blur(10.9px);

  touch-action: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
